In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
diabetes = pd.read_csv(r"C:\Users\HP\Downloads\framingham.csv")
diabetes

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [5]:
cols = []
for i in range(len(diabetes.columns)): 
    cols.append(diabetes.columns[i].lower().replace(' ', '_'))
diabetes.columns = cols
diabetes

,male,age,education,currentsmoker,cigsperday,bpmeds,prevalentstroke,prevalenthyp,diabetes,totchol,sysbp,diabp,bmi,heartrate,glucose,tenyearchd
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [6]:
diabetes.isna().sum()

male                 0
age                  0
education          105
currentsmoker        0
cigsperday          29
bpmeds              53
prevalentstroke      0
prevalenthyp         0
diabetes             0
totchol             50
sysbp                0
diabp                0
bmi                 19
heartrate            1
glucose            388
tenyearchd           0
dtype: int64

In [7]:
categorical = diabetes.select_dtypes(include='object')
categorical

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4238 rows x 0 columns]

In [9]:
dia_drop_na = diabetes.dropna(axis=1)

In [13]:
dia_drop_na.isna().sum()

male               0
age                0
education          0
currentsmoker      0
cigsperday         0
bpmeds             0
prevalentstroke    0
prevalenthyp       0
diabetes           0
totchol            0
sysbp              0
diabp              0
bmi                0
heartrate          0
glucose            0
tenyearchd         0
dtype: int64

In [14]:
numerical = dia_drop_na.select_dtypes(exclude='object')
numerical

,male,age,education,currentsmoker,cigsperday,bpmeds,prevalentstroke,prevalenthyp,diabetes,totchol,sysbp,diabp,bmi,heartrate,glucose,tenyearchd
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [18]:
Q1 = numerical.quantile(0.25)
Q3 = numerical.quantile(0.75)
IQR = Q3 - Q1

is_outlier = (numerical < (Q1 - 1.5 * IQR)) | (numerical > (Q3 + 1.5 * IQR))

outliers = numerical[is_outlier.any(axis=1)]
print("\nOutliers detected by IQR method:\n", outliers)

dia_no_outliers = numerical[~is_outlier.any(axis=1)]
print("\nDataFrame after removing outliers:\n", firo_no_outliers)

Outliers detected by IQR method:
       male  age  education  currentsmoker  cigsperday  bpmeds  \
3        0   61        3.0              1        30.0     0.0
6        0   63        1.0              0         0.0     0.0
13       0   41        3.0              0         0.0     1.0
15       0   38        2.0              1        20.0     0.0
17       0   46        2.0              1        20.0     0.0
...    ...  ...        ...            ...         ...     ...
4223     1   56        4.0              0         0.0     1.0
4226     1   58        1.0              0         0.0     0.0
4228     0   50        1.0              0         0.0     0.0
4232     1   68        1.0              0         0.0     0.0
4233     1   50        1.0              1         1.0     0.0

      prevalentstroke  prevalenthyp  diabetes  totchol  sysbp  diabp    bmi  \
3                   0             1         0    225.0  150.0   95.0  28.58
6                   0             0         0    205.0  138.0   71.0  33.11
13                  0             1         0    332.0  124.0   88.0  31.31
15                  0             1         0    221.0  140.0   90.0  21.35
17                  0             0         0    291.0  112.0   78.0  23.38
...               ...           ...       ...      ...    ...    ...    ...
4223                0             1         0    287.0  149.0   98.0  21.68
4226                0             0         0    233.0  125.5   84.0  26.05
4228                0             1         1    260.0  190.0  130.0  43.67
4232                0             1         0    176.0  168.0   97.0  23.14
4233                0             1         0    313.0  179.0   92.0  25.97

      heartrate  glucose  tenyearchd
3          65.0    103.0           1
6          60.0     85.0           1
13         65.0     84.0           0
15         95.0     70.0           1
17         80.0     89.0           1
...         ...      ...         ...
4223       90.0     75.0           1
4226       67.0     76.0           1
4228       85.0    260.0           0
4232       60.0     79.0           1
4233       66.0     86.0           1

[961 rows x 16 columns]

DataFrame after removing outliers:
       male  age  education  currentsmoker  cigsperday  bpmeds  \
0        1   39        4.0              0         0.0     0.0
1        0   46        2.0              0         0.0     0.0
2        1   48        1.0              1        20.0     0.0
4        0   46        3.0              1        23.0     0.0
5        0   43        2.0              0         0.0     0.0
...    ...  ...        ...            ...         ...     ...
4225     1   45        4.0              1        43.0     0.0
4227     1   43        4.0              1        20.0     0.0
4231     1   58        3.0              0         0.0     0.0
4234     1   51        3.0              1        43.0     0.0
4237     0   52        2.0              0         0.0     0.0

      prevalentstroke  prevalenthyp  diabetes  totchol  sysbp  diabp    bmi  \
0                   0             0         0    195.0  106.0   70.0  26.97
1                   0             0         0    250.0  121.0   81.0  28.73
2                   0             0         0    245.0  127.5   80.0  25.34
4                   0             0         0    285.0  130.0   84.0  23.10
5                   0             1         0    228.0  180.0  110.0  30.30
...               ...           ...       ...      ...    ...    ...    ...
4225                0             0         0    216.0  137.5   85.0  24.24
4227                0             0         0    187.0  129.5   88.0  25.62
4231                0             1         0    187.0  141.0   81.0  24.96
4234                0             0         0    207.0  126.5   80.0  19.71
4237                0             0         0    269.0  133.5   83.0  21.47

      heartrate  glucose  tenyearchd
0          80.0     77.0           0
1          95.0     76.0           0
2          75.0     70.0           0
4          85.0     85.0           0
5          77.0     99.0           0
...         ...      ...         ...
4225       83.0    105.0           0
4227       80.0     75.0           0
4231       80.0     81.0           0
4234       65.0     68.0           0
4237       80.0    107.0           0

[2695 rows x 16 columns]

In [20]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

dia_normalized = pd.DataFrame(scaler.fit_transform(numerical), columns=numerical.columns)


print("\nMin-Max Normalized DataFrame:")
print(dia_normalized.head())

Min-Max Normalized DataFrame:
   male       age  education  currentsmoker  cigsperday  bpmeds  \
0   1.0  0.184211   1.000000            0.0    0.000000     0.0
1   0.0  0.368421   0.333333            0.0    0.000000     0.0
2   1.0  0.421053   0.000000            1.0    0.285714     0.0
3   0.0  0.763158   0.666667            1.0    0.428571     0.0
4   0.0  0.368421   0.666667            1.0    0.328571     0.0

   prevalentstroke  prevalenthyp  diabetes   totchol     sysbp     diabp  \
0              0.0           0.0       0.0  0.168378  0.106383  0.232804
1              0.0           0.0       0.0  0.281314  0.177305  0.349206
2              0.0           0.0       0.0  0.271047  0.208038  0.338624
3              0.0           1.0       0.0  0.229979  0.314421  0.497354
4              0.0           0.0       0.0  0.353183  0.219858  0.380952

        bmi  heartrate   glucose  tenyearchd
0  0.277024   0.363636  0.104520         0.0
1  0.319680   0.515152  0.101695         0.0
2  0.237518   0.313131  0.084746         0.0
3  0.316045   0.212121  0.177966         1.0
4  0.183228   0.414141  0.127119         0.0

In [36]:
from sklearn.model_selection import train_test_split

# Split features and target variable
X = dia_normalized.drop('diabetes',axis = 1)
y = dia_normalized['diabetes']

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
LR = LogisticRegression()
LR.fit(X_train, y_train)

LR.score(X_test, y_test)

0.9836065573770492

In [38]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

pred = LR.predict(X_test)

print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))


print(classification_report(y_test, pred))

# to predict the probabilities instead of a class
predicted_probabilities = LR.predict_proba(X_test)[:,1]
predicted_probabilities

# Then you need to define it by hand
custom_threshold = 0.7  # For example, use a threshold of 0.7
custom_predictions = (predicted_probabilities >= custom_threshold).astype(int)
custom_predictions

precision:  1.0
recall:  0.29411764705882354
f1:  0.45454545454545453
              precision    recall  f1-score   support

         0.0       0.98      1.00      0.99       715
         1.0       1.00      0.29      0.45        17

    accuracy                           0.98       732
   macro avg       0.99      0.65      0.72       732
weighted avg       0.98      0.98      0.98       732

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])